.header { 
    border-bottom: 1px solid rgba(153, 0, 0, 0.5);
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
}

.logoBar {
    display: flex;
    justify-content: space-between;

}
.logo {
    display: flex;
    align-items: center;

    
}

.logo, .navbar, .contact {
    flex-wrap: wrap;
}

.contact ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    
}
.navbar ul {
    display: flex;
    justify-content: center;
}
.navbar__item, .contact__item {
    margin-right: 1rem;
    
}
.navbar__item:last-child, .contact__item:last-child {
    margin-right: 0;
}